<h1>Patterns!</h1>

<form class=box action="login.html" method="POST">

    <h5>Already a member?</h5>

    <input type="text" name="" placeholder="Enter Username" id="username">
    <input type="password" name="" placeholder="Enter Password" id="password">
    <input type="submit" name="" value="Login" onclick="validate()">

</form>