* 
{ 
   box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: 'Arial', sans-serif;
}
nav {
    background: #619464;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none; 
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none; 
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}
nav .mainMenu li a:hover {
    background: #E76F51;
}
nav .openMenu {
    font-size: 1.5rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu, .icons i {
    font-size:1.5rem;
    display: none;
    cursor: pointer;
}
nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}
nav .mainmenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20p;
}
nav .openMenu {
    display:block;
}
nav .mainMenu li a:hover {
    background: none;
    color: #E76F51;
    font-size: 1.5rem;
}
.icons i {
    display: inline-block;
    padding: 12px;
}


@import "compass/css3";

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.table-editable {
  position: relative;
}

.glyphicon {
    font-size: 20px;
}

.table-remove {
  color: #700;
  cursor: pointer;
}
  
hover {
    color: #f00;
  }

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
